## Etapa 1: Importar bibliotecas, carregar e estudar os dados

In [ ]:
import pandas as pd
# import matplotlib.pyplot as plt
# import numpy as np
# import seaborn as sns
# from scipy import stats

In [ ]:
df = pd.read_csv('../data/videogame_dataset.csv')
df.info()
df.sample(10)

Primeiros passos: 
- renomear todas as colunas com .lower()
- dtype alterations -> Year_of_Release de float para int + user_score de object para float (tbds?)
- colunas de score -> transformar user em escala de 0-100 ou critic em escala 0-10

- coluna de rating -> não entendo o que cada letra quer dizer; averiguar
- analisar a quantidade de valores nulos das colunas de scores e ratings -> excluir? manter? preencher com média/mediana?

Talvez:
- unidade de medida das colunas de sales -> milhões de dolares
- renomear coluna other_sales para algo mais descritivo, talvez?

In [17]:
game_df = df.copy()
game_df.columns = game_df.columns.str.lower()
# game_df["user_score"] = game_df["user_score"].astype("float")
# game_df["year_of_release"] = game_df["year_of_release"].astype("int")
game_df.head()

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN

In [19]:
game_df["user_score"].value_counts()
game_df["year_of_release"].isna().sum()

np.int64(269)

## Etapa 2: Preparar os dados para análise

## Etapa 3: Analisar os dados

## Etapa 4: Criar um perfil para cada região e analisá-los

## Etapa 5: Testar as hipóteses

## Etapa 6: Conclusão geral